* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* ### Primary */
    --orange-500: hsl(25, 97%, 53%);
    --icon-background: hsl(213, 19%, 22%);
    --attribution-color: hsl(228, 45%, 44%);
    /* ### Neutral */
    --white-color: hsl(0, 100%, 100%);
    --grey-500: hsl(217, 12%, 63%);
    --grey-900: hsl(213, 19%, 18%);
    --grey-950: hsl(216, 12%, 8%);
}

body {
    font-family: "Overpass", sans-serif;
    font-size: calc(0.8rem, 1rem, 1.2rem);
    color: var(--white-color);
}

main {
    background-color: var(--grey-950);
    height: 100vh;
    display: flex;
}

.container {
    background-color: var(--grey-900);
    margin: auto;
    max-width: 23rem;
    min-height: 26rem;
    width: 90%;
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    position: relative;
}

.rating-state,
.thanks-state {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.wrapper-star {
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--icon-background);
}

.icon-star {
    width: 20px;
    height: auto;
}

.content p{
    margin-block-start: 1.5rem;
    color: var(--grey-500);
    font-weight: 700;
}

.wrapper-rating-btns {
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
}

.rating-btn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    color: var(--grey-500);
    background-color: var(--icon-background);
    font-weight: 700;
}

.rating-btn:hover,
.rating-btn:focus {
    background-color: var(--orange-500);
    color: var(--grey-900);
}

.rating-btn.active {
    background-color: var(--white-color);
    color: var(--grey-900);
}

.submit-btn {
    background-color: var(--orange-500);
    border: none;
    border-radius: 1.5rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.submit-btn:hover,
.submit-btn:active {
    background-color: var(--white-color);
}

.error-msg {
    color: var(--orange-500);
    position: absolute;
    bottom: 2%;
    right: 50%;
    transform: translateX(50%);
}

.thanks-state {
    text-align: center;
    align-items: center;
}

.wrapper-result {
    background-color: var(--icon-background);
    color: var(--orange-500);
    padding: 0.6rem 1rem;
    border-radius: 1.8rem;
}

.attribution { 
    font-size: 0.6875rem; text-align: center; 
    color: var(--grey-950);
}

.attribution a { 
    color: var(--attribution-color); 
}

.hide {
    display: none;
}